.common_btn {
    width: 100%;
    border-radius: 24px 24px;
    line-height: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(253, 83, 83);
    overflow: hidden;
    text-align: center;
    border: none;

    // button {
    //     outline: none;
        
    //     outline-offset: 0;
    // }
}