/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
  /*==========  Desktop First  ==========*/

  /* Large Devices, Wide Screens */

  @media only screen and (max-width: 1500px) {
  }

  @media only screen and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (max-width: 1024px) {
  }

  @media only screen and (max-width: 991px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (max-width: 768px) {
  }

  /* Small Devices, Desktops */
  @media only screen and (max-width: 580px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (max-width: 425px) {
    .common_advert {
      height: auto;
      padding-bottom: 5%;
      .left_side_advert {
        width: 84%;
        padding-right: 0;
        h1 {
          font-size: 14px;
          font-weight: 700;
          line-height: 1.36;
          letter-spacing: 0.07px;
          text-align: left;
          color: #28252f;
        }
        .minor_info_advert {
          img {
            width: 15px;
            height: 15px;
          }
          .ispda_advert,
          .date_advert,
          .place_advert {
            font-size: 10px;
            letter-spacing: 0.06px;
            color: #28252f;
            margin-inline-end: 1%;
          }
        }
        p {
          font-size: 12px;
          letter-spacing: 0.06px;
          color: #28252f;
        }
      }

      .right_side_advert {
        width: 22%;
        .fullprice_advert {
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.08px;
          color: #20bdcb;
        }
        .image_document_advert {
          width: auto;
          height: auto;
          margin-top: 30%;
        }
      }
      .profile_advert_check_active {
        width: 7px;
        height: 7px;
        top: 5px;
        right: 5px;
      }
    }
  }

  /* Custom, iPhone Retina */

  @media only screen and (max-width: 360px) {
  }

  @media only screen and (max-width: 320px) {
  }

  /*==========  Mobile First  ==========*/

  /* Custom, iPhone Retina */

  @media only screen and (min-width: 320px) and (max-width: 420px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (min-width: 480px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (min-width: 769px) {
  }

  /* Large Devices, Wide Screens */

  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
  }

  @media only screen and (min-width: 1200px) {
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1350px) {
  .common_advert {
    height: auto;
    min-height: 30vh;
    padding-bottom: 5%;
    .left_side_advert {
      width: 84%;
      padding-right: 0;
      h1 {
        font-size: 22px;
        margin-block-end: 1.2%;
        line-height: 1.36;
        letter-spacing: 0.07px;
        color: #28252f;
      }
      .minor_info_advert {
        img {
          width: 15px;
          height: 15px;
        }
        .ispda_advert,
        .date_advert,
        .place_advert {
          font-size: 13px;
          letter-spacing: 0.06px;
          color: #28252f;
          margin-inline-end: 1%;
        }
      }
      p {
        font-size: 13px;
        letter-spacing: 0.06px;
        color: #28252f;
      }
    }

    .right_side_advert {
      width: 22%;
      .fullprice_advert {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.08px;
        color: #20bdcb;
      }
      .image_document_advert {
        width: auto;
        height: auto;
        margin-top: 30%;
      }
    }
    .profile_advert_check_active {
      width: 7px;
      height: 7px;
      top: 5px;
      right: 5px;
    }
  }
  .advert_action_bar {
    height: 3em;
    .advert_action_bar_time {
      font-size: 12px;
      width: 40%;
    }

    .advert_action_bar_actions {
      .profile_advert_action_disactivate,
      .profile_advert_action_delete,
      .profile_advert_action_edit {
        font-size: 13px;
      }
    }
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
