.common_advert {
  height: 27vh;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  background-color: #fff;
  padding: 2.2% 4.7% 1.6% 4.9%;
  font-family: AvenirNext-Regular;
  cursor: pointer;

  .left_side_advert {
    display: flex;
    width: 78%;
    flex-direction: column;
    padding-right: 2%;

    h1 {
      font-family: AvenirNext-Bold;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.1px;
      color: #28252f;
      margin-block-end: 3.7%;
    }

    .ispda_advert,
    .date_advert {
      color: black;
      font-size: 16px;
    }

    .date_advert {
      letter-spacing: 1px;
    }

    .ispda_advert {
      display: flex;
      flex-direction: row;
    }

    .ispda_confirmation {
      color: white;
      position: relative;
      font-size: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      background-color: #b1a7c8;
    }

    .minor_info_advert {
      display: flex;
      align-items: center;
      margin-block-end: 3.7%;
      font-size: 22px;

      span {
        margin-inline-end: 3%;
      }

      .circle_advert::after {
        content: "";
        color: black;
        font-size: 0px;
      }

      .place_advert {
        padding: 3px 16px !important;
        font-size: 13px;
        letter-spacing: 0.07px;
        border-radius: 12.5px;
        background-color: #ffab2a;
        color: white;
      }
    }

    p {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.07px;
      color: #28252f;
    }
  }

  .right_side_advert {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .fullprice_advert {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.13px;
      word-break: break-word;
      color: #20bdcb;
    }

    .image_document_advert {
      width: 80%;
      height: 80%;
      padding: 8%;
      margin-block-start: 8%;
      background: linear-gradient(#8888883d, #a3a3a352);
      overflow: hidden;
    }
  }
}
.advert_action_bar {
  display: flex;
  height: 3.4em;
  background-color: #f0f1f5;
  border-bottom: 1px solid rgba(177, 167, 200, 0.47);
  color: #707488c0;
  flex-direction: row;
  align-items: center;
  .advert_action_bar_time {
    width: 50%;
    padding-left: 5%;
  }
  .advert_action_bar_actions {
    width: 50%;
    display: flex;
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    padding-right: 3%;

    .profile_advert_action_delete,
    .profile_advert_action_disactivate,
    .profile_advert_action_edit {
      display: flex;
      align-items: center;

      img {
        width: 12px;
        height: 12px;
        margin-inline-end: 10%;
      }
    }

    .profile_advert_action_disactivate {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.profile_advert_hover:hover {
  transition: 0.3s;
  transform: scale(1.01);
  box-shadow: 0.5px 1.2px 10px #6b6b6b;
}
.pagination_count {
  width: 18%;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-around;

  span {
    cursor: pointer;
  }
}

.profile_advert_action_delete:hover {
  color: #fc4445;
}

.profile_advert_action_disactivate:hover {
  color: rgb(255, 197, 36);
}

.profile_advert_action_edit:hover {
  color: rgb(26, 143, 253);
}

.profile_adverts_nodata {
  font-size: 30px;
  font-weight: 600;
  color: grey;
  letter-spacing: 0.4;
  opacity: 0.6;
  text-align: center;
  padding-top: 30%;
}
