.common_advert {
  height: 27vh;
  display: flex;
  flex-direction: row;
  padding: 2.2% 4.7% 1.6% 4.9%;
  cursor: pointer;

  .left_side_advert {
    display: flex;
    width: 78%;
    flex-direction: column;
    padding-right: 5%;

    h1 {
      font-family: AvenirNext;
      font-size: 38px;
      font-weight: bold;
      letter-spacing: 0.1px;
      color: #28252f;
      margin-block-end: 2.5%;
    }

    .ispda_advert,
    .date_advert {
      color: black;
      font-size: 18px;
    }

    .date_advert {
      letter-spacing: 1px;
    }

    .ispda_advert {
      display: flex;
      flex-direction: row;
    }

    .ispda_confirmation {
      color: white;
      position: relative;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      background-color: #b1a7c8;
    }

    .minor_info_advert {
      display: flex;
      align-items: center;
      margin-block-end: 3%;
      font-size: 20px;

      span {
        margin-inline-end: 3%;
      }

      .circle_advert::after {
        content: "";
        color: black;
        font-size: 0px;
      }

      .place_advert {
        padding: 3px 16px !important;
        font-size: 22px;
        letter-spacing: 0.07px;
        border-radius: 12.5px;
        background-color: #ffab2a;
        color: white;
      }
    }

    p {
      font-family: AvenirNext;
      font-size: 22px;
      letter-spacing: 0.07px;
      color: #28252f;
    }
  }

  .right_side_advert {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .fullprice_advert {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0.13px;
      color: #20bdcb;
    }

    .image_document_advert {
      width: 80%;
      height: 70%;
      padding: 12%;
      margin-block-start: 18%;
      background: linear-gradient(#888888, #a3a3a3);
      overflow: hidden;
    }
  }
}
