/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
  .wrapp {
    .search_form {
      .common_btn {
        font-size: 12px;
      }
      .price {
        font-size: 13px;
      }
      .is_PDV_payer {
        .common_checkbox {
          .container .text {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
  .wrapp {
    .search_form {
      .common_select {
        .select_area {
          font-size: 10px;
        }
      }
      .common_btn {
        font-size: 9px !important;
      }
      .price {
        font-size: 10px;
      }
      .common-input {
        height: auto;
        font-size: 10px;
      }
      .is_PDV_payer {
        .common_checkbox {
          .container .text {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .wrapp {
    h1 {
      font-size: 35px;
    }
    .form_subtitle {
      font-size: 14px;
    }
    .search_form {
      .common_select {
        .select_area {
          font-size: 14px;
          padding: 10px 0;
        }
      }
      .common-input {
        height: auto;
        font-size: 14px;
      }
      .common_btn {
        font-size: 9px;
      }
      .is_PDV_payer {
        .common_checkbox {
          .container .text {
            font-size: 12px;
          }
        }
      }
    }
    .search_form {
      #mp_form_select_1 {
        object-fit: cover;
        grid-row-start: 1;
        grid-column: span 13;
      }

      #mp_form_select_2 {
        object-fit: cover;
        grid-row-start: 2;
        grid-column: span 13;
      }

      #mp_form_select_3 {
        object-fit: cover;
        grid-row-start: 3;
        grid-column: span 13;
      }

      #mp_form_select_4 {
        object-fit: cover;
        grid-row-start: 4;
        grid-column: span 13;
      }
      .price {
        grid-row-start: 5;
        grid-column: span 13;
      }
      .price_from {
        padding: 7px 20%;
        grid-column: span 6;
      }
      .price_to {
        grid-column: 8 / span 6;
      }
      .is_PDV_payer {
        grid-column: span 13;
        .common_checkbox {
          width: 100%;
          .container {
            width: 100%;
            .checkmark {
              order: -1;
              margin-right: 10px;
            }
          }
        }
      }
      .common_btn_link {
        &:first-of-type {
          grid-column: span 6;
        }
        &:last-of-type {
          grid-column: 8 / span 6;
        }
      }
    }
  }
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
  .wrapp {
    height: 100vh;
    background-image: unset;
    .mobile_bg {
      height: 100%;
      display: flex;
      padding: 25% 0 15% 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 30px;
      margin-top: 0;
    }
    .form_subtitle {
      font-size: 12px;
      margin-top: 5%;
    }
    .search_form {
      position: relative;
      // display: block;
      padding: 10% 0;
      width: 100%;
      top: 0;
      grid-template-columns: repeat(13, 5.5vw);
      grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px;
      grid-row-gap: 20px;
      height: fit-content;
      bottom: 0;
      .common_btn {
        padding: 7px;
        font-size: 14px;
      }
      .common_select {
        .select_area {
          max-height: 36px;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
