body {
  background-image: linear-gradient(to top, rgba(111, 134, 214, 0.16), rgba(72, 198, 239, 0));
  .image_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125vh;
    z-index: -1;
}
}
.profile_wrapper {
  width: 87%;
  max-height: 125vh;
  margin: 0 auto;
  margin-block-start: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .profile_list {
    width: 65.8%;
    height: auto;
    min-height: 115.2vh;
    background-color: #fff;
    margin-block-end: 5%;
  }
  .profile_info {
    width: 30%;
    height: 29vh;
    background-color: #fff;
    .info_head {
      height: 8.7vh;
      padding: 0 9%;
    }
  }
  .profile_info_main_contain {
    height: 48%;
    display: flex;
    justify-content: flex-start;
    padding: 8% 10%;
    flex-direction: column;

    span {
      margin-block-end: 8%;
      font-size: 20px;
    }
  }
}
.profile_list_header {
  height: 7.5%;
  border-bottom: 1px solid rgba(177, 167, 200, 0.47);
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  letter-spacing: 0.09px;
  color: #99abc3;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}
.profile_create_advert_btn {
  border-radius: 17.5px;
  border: solid 2px #99abc3;
  color: black;
  margin-block-start: 0;
  .adding_advert {
    background: rgb(0, 217, 255);
    font-size: 20px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    color: white;
  }
}
.results_header_counter {
  margin-inline-start: 1%;
  color: #fc4445;
}
.pagination_div {
  position: relative;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  button {
    width: 140px;
    background-color: inherit;
    outline: none;
    border: none;
  }

  .pagination_current {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #1ccee9;
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

.advert_action_bar {
  display: flex;
  height: 3.4em;
  background-color: #f0f1f5;
  border-bottom: 1px solid rgba(177, 167, 200, 0.47);
  color: #707488c0;
  flex-direction: row;
  align-items: center;
  .advert_action_bar_time {
    width: 50%;
    padding-left: 5%;
  }
  .advert_action_bar_actions {
    width: 50%;
    display: flex;
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600
  }
}
.profile_advert_hover:hover {
  box-shadow: 0.5px 1.2px 10px #6b6b6b;
}
.pagination_count {
  width: 18%;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-around;

  span {
    cursor: pointer;
  }
}

.profile_advert_action_delete:hover{
  color: #fc4445;

}

.profile_advert_action_disactivate:hover{
  color: rgb(255, 197, 36);

}

.profile_advert_action_edit:hover{
  color: rgb(26, 143, 253);

}