/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
  /*==========  Desktop First  ==========*/

  /* Large Devices, Wide Screens */

  @media only screen and (max-width: 1500px) {
  }

  @media only screen and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (max-width: 1024px) {
  }

  @media only screen and (max-width: 991px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (max-width: 768px) {
    .profile_wrapper {
      flex-direction: column;
      width: 100%;
      margin-block-start: 0;
      max-height: none;
      .image_bg {
        display: none;
      }

      .profile_info {
        margin-block-start: 19%;
        margin-block-end: 4%;
        order: 1;
        width: 100%;
        box-shadow: 0.5px 0.5px 12px rgb(90, 90, 90);

        .profile_list_header {
          background-color: #efeff6;
          height: 5vh;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.79;
          letter-spacing: 0.07px;
          padding-left: 5%;
        }

        .profile_info_main_contain {
          padding: 5% 0 0 5%;
          span {
            margin-block-end: 4%;
          }

          .profile_info_labels {
            font-family: SegoeUI;
            font-size: 14px;
            color: #707070;
          }
          .profile_info_name {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.33px;
            color: #000000;
          }
        }
      }

      .profile_list {
        order: 2;
        width: 100%;

        .pagination_div {
          background-color: #efeff6;
          button {
            font-size: 12px;
          }
          .pagination_count {
            font-size: 12px;
            width: 20% !important;
          }
        } 

        .profile_list_header {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.07px;
          color: #99abc3;
          background-color: #efeff6;
          box-shadow: -5px -5px 6px white;
          border-top: 1px solid rgba(177, 167, 200, 0.47);

          .results_header {
            width: 50%;
          }

          .profile_create_advert_btn_span {
            width: 50%;
            overflow: hidden;
            .profile_create_advert_btn {
              width: 80%;
            }
          }
        }

        .profile_advert_hover {
          .advert_action_bar {
            font-size: 12px;
            letter-spacing: 0.06px;
            color: #707488;

            .advert_action_bar_time {
              width: 34%;
              opacity: 0.7;
            }

            .advert_action_bar_actions {
              .profile_advert_action_delete,
              .profile_advert_action_disactivate,
              .profile_advert_action_edit {
                margin-inline-start: 4%;
                margin-inline-end: 4%;
                font-size: 10px;
              }

              img {
                width: 10px;
                height: 10px;
                margin-inline-end: 4%;
              }
            }
          }
        }
      }
    }
  }

  /* Small Devices, Desktops */
  @media only screen and (max-width: 580px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (max-width: 425px) {
  }

  /* Custom, iPhone Retina */

  @media only screen and (max-width: 360px) {
  }

  @media only screen and (max-width: 320px) {
  }

  /*==========  Mobile First  ==========*/

  /* Custom, iPhone Retina */

  @media only screen and (min-width: 320px) and (max-width: 420px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (min-width: 480px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (min-width: 769px) {
  }

  /* Large Devices, Wide Screens */

  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
  }

  @media only screen and (min-width: 1200px) {
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
