/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
  .form_footer {
    .clear_btn {
      margin-right: 10%;
      width: 30%;
      padding: 14px;
    }
    .publish_btn {
      width: 30%;
      padding: 14px;
    }
  }
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
  .form_footer {
    .clear_btn {
      margin-right: 10%;
      width: 40%;
      padding: 14px;
    }
    .publish_btn {
      width: 40%;
      padding: 14px;
    }
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
