.form_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5%;
  .clear_btn {
    margin-right: 30px;
    padding: 14px;
  }
  .publish_btn {
    padding: 14px;
  }
}
