header {
  position: absolute;
  width: 100%;
  display: grid!important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 70px);
  grid-auto-flow: dense;
  grid-gap: 1%;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, .2) !important;
  z-index: 1;
  a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .active {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .language {
    margin-left: 20%;
    grid-row: span 1;
    grid-column: span 1;
    grid-column-start: 1;
    align-self: center;
    object-fit: cover;
  }
  .main_logo {
    grid-row: span 1;
    grid-column: span 1;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    grid-column-start: 2;
  }
  .right_side {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    grid-row: span 1;
    grid-column: span 1;
    grid-column-start: 3;
    align-self: center;
    object-fit: cover;
  }
  .create_advert {
    
  }
  .profile {
    margin-left: 5%;
    margin-right: 20%;
    display: flex;
    align-items: center;
  }
}
