header {
  position: absolute;
  top: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 70px);
  grid-auto-flow: dense;
  grid-gap: 1%;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, .2) !important;
  z-index: 1;
  a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .advert {
    display: flex;
    width: 190.5px;
    height: 30px;
    line-height: 30px;
    border-radius: 20.8px;
    font-size: 13px;
    border: solid 0.5px #ffffff;
    margin-top: 2.4%;
    padding: 0 15px;
    text-align: center;
    justify-content: space-around;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.13px;
  }
  .active {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .adding_advert {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-weight: 300;
    margin-top: 3.5%;
    background: #ffffff;
    border: 1px solid white;
    color: black;
    font-size: 23px;
  }
  .language {
    margin-left: 20%;
    grid-row: span 1;
    grid-column: span 1;
    grid-column-start: 1;
    align-self: center;
    object-fit: cover;
  }
  .main_logo {
    grid-row: span 1;
    grid-column: span 1;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    grid-column-start: 2;
  }
  .right_side {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-row: span 1;
    grid-column: span 1;
    grid-column-start: 3;
    align-self: center;
    object-fit: cover;
  }
  .create_advert {
    
  }
  .profile {
    margin-left: 5%;
    display: flex;
    align-items: center;
  }
}
