header {
    position: absolute;
    height: 100px;
    top: 0;
    width: 75.4%;
    line-height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff
}

img {
    width: 168px;
    height: 50.3px;
    margin-top: 20px;
    margin-left: 190px;
}