.login_modal_form{
    .reg_form{
        padding: 4% 0;
    }
    .reg_label{
        margin-bottom: -8%;
       padding-top: 5%;
       
    }

    .information_label{
        width: 100%;
        font-size: 15px;
        color: grey;
        font-weight: 500;
        opacity: .7;
    }
}