.login_modal_form{
    form{
        padding: 16% 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        background: #ffffff;
    }
    
}