.login_modal_form {
  margin-top: 5%;
  

.login_form_header{
  .header_height{
    height: 35% !important;
  }
}
  .reg_form {
    padding: 4% 0;
  }
  .reg_label {
    margin-bottom: -8%;
    padding-top: 5%;
  }

  .first_reg_input {
    width: 80% !important;
  }

  .information_label {
    width: 100%;
    font-size: 15px;
    color: grey;
    font-weight: 500;
    opacity: 0.7;
  }
}



.email_registration_input {
  &::after {
    background-image: url("../../../assets/images/at.svg");
    top: 122%;
  }
}

.password_registration_input {
  &::after {
    background-image: url("../../../assets/images/lock-1.svg");
    height: 19px;
  }
}
