.bg {
  background-image: linear-gradient(to top, rgba(111, 134, 214, 0.16), rgba(72, 198, 239, 0));
  .image_bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      z-index: -1;
  }
}

// .wrap{
//     background: red
// }
