.results_list {
    grid-column: span 3;
    height: auto;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    a:link {
        color: #28252f;
    }

    a:visited {
        color: #28252f
    }

    .results_list_header {
        height: 5%;
        border-bottom: 1px solid rgba(177, 167, 200, 0.47);
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.7;
        letter-spacing: 0.09px;
        color: #99abc3;

        span {
            margin-inline-start: 3.5%;
        }

        .results_header_counter {
            margin-inline-start: 1%;
            color: #fc4445;
        }
    }

    .pagination_div {     
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        button {
            width: 140px;
            background-color: inherit;
            outline: none;
            border: none;
        }


        .pagination_current {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background-color: #1ccee9;
            text-align: center;
            font-weight: bold;
            color: white;
        }
    }

}

.pagination_count{
    width: 18%;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;

        span{
            cursor: pointer;
        }
    
}