/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
  .general_info {
    grid-template-columns: repeat(2, 1fr);
    .first_position,
    .second_position,
    .third_position,
    .forth_position {
      grid-column: span 2;
      grid-row-start: unset;
    }
    .forth_position {
      #upload-container {
        padding: 20%;
      }
    }
    .grid_right_column {
      margin-left: 0 !important;
    }
    .grid_left_column {
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
