footer{
    width: 75.6%;
    height: 200px;
    position: absolute;
    background-color: #24202b;
    color: #ffffff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center
}
.footer_logo{
    height: 100px;
    line-height: 100px;
}
.footer_texts{
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0 10px 0 ;
    span{
        font-size: 8px;
    }
    .footer_links{
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        a{
            outline: none;
            text-decoration: rgb(145, 145, 255);
            color: #ffffff
        }
    }
}