.short_wrapp {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  // background-image: linear-gradient(to top, rgba(111, 134, 214, 0.16), rgba(72, 198, 239, 0));
  background-image: url('../../assets/images/triangle_bg.png');
  padding: 100px 7%;
  background-color: #efeff6;
  margin: 0 auto;
  min-height: auto;
}
.menu_fix {
  top: 0;
  background-image: linear-gradient(266deg, #0072f0, #20bdcb);
  position: fixed;
}
