.short_wrapp{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    background-image: linear-gradient( rgba(57, 96, 238, 0.16), rgba(21, 169, 218, 0.034));
    padding: 100px 7%;
    background-color: #efeff6;
    margin: 0 auto;
    height: 160vh;
}
.menu_fix{
    top: 0;
    background-image: linear-gradient(266deg, #0072f0, #20bdcb);
    position: fixed;
}