.login_page {
  display: flex;
  width: 100%;
  height: 90.4vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-image: url("../../assets/images/Triangle_bg.jpg");
  background-size: 100%;
  img {
    margin-top: 10vh;
  }
}

.login_modal_form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  align-items: center;
  width: 26%;
  height: 72.8%;
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-block-end: 5%;
  margin-block-start: 4%;

  .login_form_header,
  .login_form_footer {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_form_header {
    border-bottom: 1px solid rgb(194, 194, 194);
    font-weight: 800;
    font-size: 41px;
    letter-spacing: 0.8px;
  }

  .login_form_footer {
    background-color: #f1f2f5;

    a {
      color: #41d3ff;
      text-decoration: none;
      font-weight: 550;
    }
  }

  form {
    padding: 14% 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    background: #ffffff;

    input {
      width: 80%;
    }

    .span_btn{
      width: 92%;
    }

    .input_container {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-image: url("../../assets/images/at.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 15px;
        width: 15px;
        left: 7.5%;
        top: 32%;
        z-index: 9;
      }
    }
    
    .email_input {
      &::after {
        background-image: url("../../assets/images/at.svg");
        top: 22%;
    
      }
    }
    
    .password_input {
      &::after {
        background-image: url("../../assets/images/lock-1.svg");
        height: 19px;
        top: 22% !important 
      }
    }
  }

  label {
    color: red;
    font-weight: 600;
    position: inherit;
    margin-top: -8%;
    margin-bottom: -5%;
  }
}

.error {
  border-color: red;

  input {
    border-color: red;
  }

  .err_label {
    color: red;
    font-weight: 600;
  }
}


