/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1500px) {
  .wrapp {
    .search_form {
      .common_btn {
        font-size: 14px;
      }
      .price {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}

/* Small Devices, Desktops */
@media only screen and (max-width: 580px) {
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 425px) {
  /*==========  Desktop First  ==========*/

  /* Large Devices, Wide Screens */

  @media only screen and (max-width: 1500px) {
    .wrapp {
      .search_form {
        .common_btn {
          font-size: 14px;
        }
        .price {
          font-size: 14px;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (max-width: 1024px) {
  }

  @media only screen and (max-width: 991px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (max-width: 768px) {
  }

  /* Small Devices, Desktops */
  @media only screen and (max-width: 580px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (max-width: 425px ) {
    .login_page {
      height: 80%;
      position: relative;
      img {
        margin-top: 10px;
      }
    }
    .login_modal_form {
      width: 90%;
      height: 60vh;
      margin-block-start: 20%;
      margin-block-end: 20%;
      padding: 0;

      form{
        
        .span_btn{
            width: 100%;

            .common_btn{
                width: 100% !important;
            }
        }
    }
    }
    
  }

  /* Custom, iPhone Retina */

  @media only screen and (max-width: 360px) {
  }

  @media only screen and (max-width: 320px) {
  }

  /*==========  Mobile First  ==========*/

  /* Custom, iPhone Retina */

  @media only screen and (min-width: 320px) and (max-width: 420px) {
  }

  /* Extra Small Devices, Phones */

  @media only screen and (min-width: 480px) {
    /**/
  }

  /* Small Devices, Tablets */

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
  }

  /* Medium Devices, Desktops */

  @media only screen and (min-width: 769px) {
  }

  /* Large Devices, Wide Screens */

  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
  }

  @media only screen and (min-width: 1200px) {
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 420px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1200px) {
}
