.form_header {
  background-color: #fff;
  padding: 3% 5% 2% 5%;
  h1 {
    font-family: AvenirNext-DemiBold;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.09px;
    color: #707488;
  }
}
