.advert {
    display: flex;
    width: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 20.8px;
    font-size: 13px;
    border: solid 0.5px #ffffff;
    margin-top: 2.4%;
    padding: 0 15px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    cursor: pointer;
    letter-spacing: 0.13px;
    p {
        width: 100%;
        padding-right: 5%;
        font-size: 10px;
    }
    .adding_advert {
        width: 15px;
        height: 15px;
        margin-left: 1%;
        line-height: 15px;
        border-radius: 50%;
        font-weight: 300;
        background: #ffffff;
        border: 1px solid white;
        color: black;
        font-size: 23px;
      }
  }