.input_container {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px;
    left: 7.5%;
    top: 32%;
    z-index: 9;
  }
}
